<tr>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= product.total_view %></td>
  <td><%= product.category.name %></td>
  <td><%= product.manufacturer.name %></td>
  <td>
    <button class="btn btn-default btn-edit-product"
      id="<%= product.id %>">
      <%= t ".edit" %>
    </button>
    <%= render partial: "edit", locals: {product: product} %>
    <button class="btn btn-default btn-delete-product"
      id="<%= product.id %>">
      <%= t ".delete" %>
    </button>
  </td>
  <td>
    <input type="checkbox" value="<%= product.id %>"
      name="cb-delete-product" autocomplete="off">
  </td>
</tr>
